[submodule "DocSpace"]
	path = build/md_workspace/DocSpace
	url = https://github.com/ONLYOFFICE/DocSpace.git
[submodule "Portals"]
	path = build/md_workspace/Portals
	url = https://github.com/ONLYOFFICE/portals.git
