*.suo
/web/obj
/web/bin
/packages
/build/*.log
/Logs
/web/*.user
/.vs/config/applicationhost.config
Thumbs.db
/web/version.txt

build/docbuilder_docs/node_modules
build/docbuilder_docs/jsdoc
build/docbuilder_docs/sdkjs
build/docbuilder_docs/tmp
build/docbuilder_docs/out
build/docbuilder_docs/package-lock.json
