[data-dark-theme="regular"][data-theme-preference="dark"] {
  color-scheme: dark;

  --code-declaration-decoration-foreground-color: var(--color-scale-gray-6);
  --code-declaration-identifier-foreground-color: var(--color-scale-gray-9);
  --code-declaration-keyword-foreground-color: var(--color-scale-gray-9);
  --code-declaration-reference-foreground-color: var(--color-scale-orange-1);
  --code-declaration-text-foreground-color: var(--color-scale-gray-9);
}

@media (prefers-color-scheme: dark) {
  [data-dark-theme="regular"][data-theme-preference="auto"] {
    color-scheme: dark;

    --code-declaration-decoration-foreground-color: var(--color-scale-gray-6);
    --code-declaration-identifier-foreground-color: var(--color-scale-gray-9);
    --code-declaration-keyword-foreground-color: var(--color-scale-gray-9);
    --code-declaration-reference-foreground-color: var(--color-scale-orange-1);
    --code-declaration-text-foreground-color: var(--color-scale-gray-9);
  }
}

[data-light-theme="regular"][data-theme-preference="light"] {
  color-scheme: light;

  --code-declaration-decoration-foreground-color: var(--color-scale-gray-1);
  --code-declaration-identifier-foreground-color: var(--color-scale-black);
  --code-declaration-keyword-foreground-color: var(--color-scale-black);
  --code-declaration-reference-foreground-color: var(--color-scale-orange-1);
  --code-declaration-text-foreground-color: var(--color-scale-black);
}

@media (prefers-color-scheme: light) {
  [data-light-theme="regular"][data-theme-preference="auto"] {
    color-scheme: light;

    --code-declaration-decoration-foreground-color: var(--color-scale-gray-1);
    --code-declaration-identifier-foreground-color: var(--color-scale-black);
    --code-declaration-keyword-foreground-color: var(--color-scale-black);
    --code-declaration-reference-foreground-color: var(--color-scale-orange-1);
    --code-declaration-text-foreground-color: var(--color-scale-black);
  }
}
