.site-header {
  background-color: var(--site-header-background-color);
}

.site-header__inner {
  display: flex;
  height: 72px;
  margin: 0 auto;
  max-width: 1168px;
}

.site-header__logo {
  align-items: center;
  display: flex;
  min-width: 232px;
  max-width: 232px;
  width: 100%;
  padding: 0 24px;
}

.site-header__logo svg {
  display: block;
}

.site-header__nav {
  height: 100%;
  padding: 0 16px;
  width: 100%;
}
