@import "./node_modules/@onlyoffice/documentation-ui-kit/lib/kit.css";
@import "./node_modules/@onlyoffice/documentation-ui-kit/lib/kit.font.css";
@import "./components/breadcrumbs/breadcrumbs.css";
@import "./components/chapter/chapter.css";
@import "./components/code-declaration/code-declaration.css";
@import "./components/page/page.css";
@import "./components/syntax-highlight/syntax-highlight.css";
@import "./components/tree/tree.css";

/* todo: temp */
@import "./regular.css";

html {
  background-color: var(--page-background-color);
  color: var(--page-foreground-color);
  font-family: var(--typography-sans-serif-font);
  font-size: 14px;
  line-height: var(--typography-line-height);
}

body {
  margin: 0;
}
