[data-dark-theme="regular"][data-theme-preference="dark"] {
  color-scheme: dark;

  --chapter-navigation-foreground-color: var(--color-scale-gray-8);
  --chapter-navigation-border-color: var(--color-scale-gray-2);

  --chapter-content-background-color: var(--color-scale-gray-1);
}

@media (prefers-color-scheme: dark) {
  [data-dark-theme="regular"][data-theme-preference="auto"] {
    color-scheme: dark;

    --chapter-navigation-foreground-color: var(--color-scale-gray-8);
    --chapter-navigation-border-color: var(--color-scale-gray-2);

    --chapter-content-background-color: var(--color-scale-gray-1);
  }
}

[data-light-theme="regular"][data-theme-preference="light"] {
  color-scheme: light;

  --chapter-navigation-foreground-color: var(--color-scale-black);
  --chapter-navigation-border-color: var(--color-scale-gray-6);

  --chapter-content-background-color: var(--color-scale-white);
}

@media (prefers-color-scheme: light) {
  [data-light-theme="regular"][data-theme-preference="auto"] {
    color-scheme: light;

    --chapter-navigation-foreground-color: var(--color-scale-black);
    --chapter-navigation-border-color: var(--color-scale-gray-6);

    --chapter-content-background-color: var(--color-scale-white);
  }
}
