[data-dark-theme="regular"][data-theme-preference="dark"] {
  color-scheme: dark;

  --chapter-navigation-background-color: var(--color-scale-black);
  --chapter-navigation-foreground-color: var(--color-scale-gray-8);
  --chapter-navigation-border-color: var(--color-scale-gray-2);
  --chapter-navigation-heading-foreground-color: var(--color-scale-gray-6);
  --chapter-navigation-focus-foreground-color: var(--color-scale-orange-1);
  --chapter-navigation-dropdown-color: var(--color-scale-gray-5);
}

@media (prefers-color-scheme: dark) {
  [data-dark-theme="regular"][data-theme-preference="auto"] {
    color-scheme: dark;

    --chapter-navigation-background-color: var(--color-scale-black);
    --chapter-navigation-foreground-color: var(--color-scale-gray-8);
    --chapter-navigation-border-color: var(--color-scale-gray-2);
    --chapter-navigation-heading-foreground-color: var(--color-scale-gray-6);
    --chapter-navigation-focus-foreground-color: var(--color-scale-orange-1);
    --chapter-navigation-dropdown-color: var(--color-scale-gray-5);
  }
}

[data-light-theme="regular"][data-theme-preference="light"] {
  color-scheme: light;

  --chapter-navigation-background-color: var(--color-scale-gray-7);
  --chapter-navigation-foreground-color: var(--color-scale-black);
  --chapter-navigation-border-color: var(--color-scale-gray-6);
  --chapter-navigation-heading-foreground-color: var(--color-scale-black);
  --chapter-navigation-focus-foreground-color: var(--color-scale-orange-1);
  --chapter-navigation-dropdown-color: var(--color-scale-gray-2);
}

@media (prefers-color-scheme: light) {
  [data-light-theme="regular"][data-theme-preference="auto"] {
    color-scheme: light;

    --chapter-navigation-background-color: var(--color-scale-gray-7);
    --chapter-navigation-foreground-color: var(--color-scale-black);
    --chapter-navigation-border-color: var(--color-scale-gray-6);
    --chapter-navigation-heading-foreground-color: var(--color-scale-black);
    --chapter-navigation-focus-foreground-color: var(--color-scale-orange-1);
    --chapter-navigation-dropdown-color: var(--color-scale-gray-2);
  }
}
