.chapter {
  display: flex;
  height: 100%;

  --a: calc(var(--temp-left-column-width-size) + var(--temp-left-column-padding-size) * 2);
  --b: calc(var(--temp-right-column-width-size) + var(--temp-right-column-padding-size) * 2);
  --c: calc((100% - (var(--a) + var(--b))) / 2);

  --temp-content-bottom-padding-size: 140px;
}

.chapter__navigation {
  border-right: solid 1px var(--chapter-navigation-border-color);
  margin-left: var(--c);
  max-width: calc(var(--temp-left-column-width-size) - 1px);
  padding: 20px var(--temp-left-column-padding-size);
  width: 100%;

  position: sticky;
  overflow-y: scroll;
  max-height: calc(100vh - var(--temp-header-height-size) - 20px * 2);
  top: var(--temp-header-height-size);
}

.chapter__container {
  background-color: var(--chapter-content-background-color);
  padding-bottom: var(--temp-content-bottom-padding-size);
  padding-left: var(--temp-right-column-padding-size);
  padding-right: calc(var(--c) + var(--temp-right-column-padding-size));
  width: 100%;
}

.chapter__breadcrumbs {
  padding-top: 20px;
}
