@import "../node_modules/@onlyoffice/documentation-ui-kit/lib/kit.css";
@import "./components/page/page.css";
@import "./components/syntax-highlight/syntax-highlight.css";

html {
  background-color: var(--page-background-color);
  color: var(--page-foreground-color);
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.5;
}

body {
  margin: 0;
}
