[data-dark-theme="regular"][data-theme-preference="dark"] {
  color-scheme: dark;

  --page-background-color: var(--color-scale-gray-0);
  --page-foreground-color: var(--color-scale-gray-9);

  --page-header-background-color: var(--color-scale-gray-0);
  --page-header-border-color: var(--color-scale-gray-2);
  --page-header-navigation-foreground-color: var(--color-scale-gray-8);
  --page-header-navigation-focus-foreground-color: var(--color-scale-orange-1);

  --page-content-background-color: var(--color-scale-black);

  --page-footer-background-color: var(--color-scale-gray-1);
  --page-footer-border-color: var(--color-scale-gray-2);
  --page-footer-navigation-foreground-color: var(--color-scale-white);
  --page-footer-navigation-heading-foreground-color: var(--color-scale-gray-5);
  --page-footer-navigation-focus-foreground-color: var(--color-scale-orange-1);
}

@media (prefers-color-scheme: dark) {
  [data-dark-theme="regular"][data-theme-preference="auto"] {
    color-scheme: dark;

    --page-background-color: var(--color-scale-gray-0);
    --page-foreground-color: var(--color-scale-gray-9);

    --page-header-background-color: var(--color-scale-gray-0);
    --page-header-border-color: var(--color-scale-gray-2);
    --page-header-navigation-foreground-color: var(--color-scale-gray-8);
    --page-header-navigation-focus-foreground-color: var(--color-scale-orange-1);

    --page-content-background-color: var(--color-scale-black);

    --page-footer-background-color: var(--color-scale-gray-1);
    --page-footer-border-color: var(--color-scale-gray-2);
    --page-footer-navigation-foreground-color: var(--color-scale-white);
    --page-footer-navigation-heading-foreground-color: var(--color-scale-gray-5);
    --page-footer-navigation-focus-foreground-color: var(--color-scale-orange-1);
  }
}

[data-light-theme="regular"][data-theme-preference="light"] {
  color-scheme: light;

  --page-background-color: var(--color-scale-black);
  --page-foreground-color: var(--color-scale-black);

  --page-header-background-color: var(--color-scale-black);
  --page-header-border-color: var(--color-scale-black);
  --page-header-navigation-foreground-color: var(--color-scale-gray-3);
  --page-header-navigation-focus-foreground-color: var(--color-scale-orange-1);

  --page-content-background-color: var(--color-scale-gray-7);

  --page-footer-background-color: var(--color-scale-black);
  --page-footer-border-color: var(--color-scale-black);
  --page-footer-navigation-foreground-color: var(--color-scale-white);
  --page-footer-navigation-heading-foreground-color: var(--color-scale-gray-2);
  --page-footer-navigation-focus-foreground-color: var(--color-scale-orange-1);
}

@media (prefers-color-scheme: light) {
  [data-light-theme="regular"][data-theme-preference="auto"] {
    color-scheme: light;

    --page-background-color: var(--color-scale-black);
    --page-foreground-color: var(--color-scale-black);

    --page-header-background-color: var(--color-scale-black);
    --page-header-border-color: var(--color-scale-black);
    --page-header-navigation-foreground-color: var(--color-scale-gray-3);
    --page-header-navigation-focus-foreground-color: var(--color-scale-orange-1);

    --page-content-background-color: var(--color-scale-gray-7);

    --page-footer-background-color: var(--color-scale-black);
    --page-footer-border-color: var(--color-scale-black);
    --page-footer-navigation-foreground-color: var(--color-scale-white);
    --page-footer-navigation-heading-foreground-color: var(--color-scale-gray-2);
    --page-footer-navigation-focus-foreground-color: var(--color-scale-orange-1);
  }
}
