:root {
  --temp-left-column-width-size: 232px;
  --temp-left-column-padding-size: 24px;
  --temp-right-column-width-size: 832px;
  --temp-right-column-padding-size: 32px;

  --temp-header-height-size: 72px;
  --temp-header-border-size: 1px;
}

.page {
  background-color: var(--page-background-color);
  /* color: var(--page-foreground-color); */
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.page__header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.page__content {
  background-color: var(--page-content-background-color);
}

.page-header {
  background-color: var(--page-header-background-color);
  border-bottom: solid var(--temp-header-border-size) var(--page-header-border-color);
  height: calc(var(--temp-header-height-size) - var(--temp-header-border-size));
}

.page-header__navigation {
  padding-left: calc(var(--temp-right-column-padding-size) / 2);
  padding-right: calc(var(--temp-right-column-padding-size) / 2);
  width: 100%;
}

.page-header__inner {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1176px;
}

.page-header__logo {
  align-items: center;
  display: flex;
  min-width: var(--temp-left-column-width-size);
  padding: 0 var(--temp-left-column-padding-size);
}

.page-header__logo svg {
  display: block;
}

.page-header__nav {
  height: 100%;
  padding: 0 16px;
  width: 100%;
}

.page-header-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.page-header-nav__link {
  align-items: center;
  color: var(--page-header-navigation-foreground-color);
  display: flex;
  font-size: 11px;
  font-weight: 600;
  height: 100%;
  margin: 0 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header-nav__link:hover,
.page-header-nav__link:focus {
  color: hsl(0, 0%, 100%);
}

.page-header-nav__link::before {
  /* todo: clip-path with path to handle borders */
  background-color: hsl(0, 0%, 100%);
  bottom: calc(var(--temp-header-border-size) * -1);
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

.page-header-nav__link:hover::before,
.page-header-nav__link:focus::before {
  content: "";
}

.page-header-nav__link_active {
  color: var(--page-header-navigation-focus-foreground-color);
}

.page-header-nav__link_active:hover,
.page-header-nav__link_active:focus {
  color: var(--page-header-navigation-focus-foreground-color);
}

.page-header-nav__link_active::before {
  content: "";
  background-color: var(--page-header-navigation-focus-foreground-color);
}

.page-header-nav__link_active:hover::before,
.page-header-nav__link_active:focus::before {
  background-color: var(--page-header-navigation-focus-foreground-color);
}

.page-footer {
  background-color: var(--page-footer-background-color);
  padding: 13px 0 28px 0;
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 160px;
}

.page-footer__rights {
  margin: 0;
}

.page-footer-nav {
  padding: 13px 0;
}

.page-footer-nav__anchor {
  color: var(--page-footer-navigation-foreground-color);
  font-size: 12px;
  margin-left: 16px;
  text-decoration: none;
}

.page-footer-nav__anchor:first-of-type {
  margin-left: 0;
}

.page-footer-nav__anchor:hover,
.page-footer-nav__anchor:focus {
  color: var(--page-footer-navigation-focus-foreground-color);
  text-decoration: underline;
}

.page-footer__rights {
  color: hsl(0, 0%, 50%);
  font-size: 12px;
  padding: 13px 0;
}
