[data-dark-theme="regular"][data-theme-preference="dark"] {
  color-scheme: dark;

  --breadcrumbs-crumb-foreground-color: var(--color-scale-gray-7);
  --breadcrumbs-crumb-active-foreground-color: var(--color-scale-orange-1);
  --breadcrumbs-delimiter-foreground-color: var(--color-scale-gray-7);
}

@media (prefers-color-scheme: dark) {
  [data-dark-theme="regular"][data-theme-preference="auto"] {
    color-scheme: dark;

    --breadcrumbs-crumb-foreground-color: var(--color-scale-gray-7);
    --breadcrumbs-crumb-active-foreground-color: var(--color-scale-orange-1);
    --breadcrumbs-delimiter-foreground-color: var(--color-scale-gray-7);
  }
}

[data-light-theme="regular"][data-theme-preference="light"] {
  color-scheme: light;

  --breadcrumbs-crumb-foreground-color: var(--color-scale-gray-1);
  --breadcrumbs-crumb-active-foreground-color: var(--color-scale-orange-1);
  --breadcrumbs-delimiter-foreground-color: var(--color-scale-gray-1);
}

@media (prefers-color-scheme: light) {
  [data-light-theme="regular"][data-theme-preference="auto"] {
    color-scheme: light;

    --breadcrumbs-crumb-foreground-color: var(--color-scale-gray-1);
    --breadcrumbs-crumb-active-foreground-color: var(--color-scale-orange-1);
    --breadcrumbs-delimiter-foreground-color: var(--color-scale-gray-1);
  }
}
