.breadcrumbs {
  align-items: center;
  color: var(--breadcrumbs-crumb-foreground-color);
  display: flex;
  font-size: 13px;
}

.breadcrumbs__crumb {
  color: inherit;
  margin-left: 10px;
  text-decoration: none;
}

.breadcrumbs__crumb:first-child {
  margin-left: 0;
}

.breadcrumbs__crumb_active {
  color: var(--breadcrumbs-crumb-active-foreground-color);
}

.breadcrumbs__delimiter {
  color: var(--breadcrumbs-delimiter-foreground-color);
  margin-left: 10px;
  width: 11px;
}
