/*
 *
 * (c) Copyright Ascensio System SIA 2024
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/

.sample-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 0;
    margin-top: 32px;
}

.sample-info {
    padding: 24px;
    margin-bottom: 12px;
}

.framework-sample-info {
    padding: 24px;
    margin-bottom: 40px;
}

.sample-example {
    background-color: #fff;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    box-shadow: 0px 7px 25px rgba(85, 85, 85, 0.15);
    border-radius: 3px;
    padding: 24px;
    list-style-type: none;
    position: relative;
    max-width: 256px;
}

.sample-example {
    padding: 0;
}

    .sample-example.hidden {
        display: none;
    }

.example-sample-img {
    height: 120px;
    margin: auto;
    background-position: 50% 50%;
    background-color: #F9F9F9;
}

.name-example-sample {
    margin: 0 0 12px 0;
}

    .name-example-sample a {
        color: #333;
        font-weight: 700;
        text-decoration: none;
        font-size: 18px;
    }

.block_more-sample {
    margin: 9px 0 0 24px;
    position: absolute;
    bottom: 12px;
    padding-bottom: 6px;
}

@media screen and (max-width: 1024px) {

    .sample-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }

    .example-img {
        background-size: 208px;
    }
}

@media screen and (max-width: 500px) {
    .sample-block {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .sample-example {
        max-width: 100%;
    }
}

.create-formal-document {
    background-image: url("img/docbuilder/samples/create-formal-document.svg");
    background-repeat: no-repeat;
}

.create-table-document {
    background-image: url("img/docbuilder/samples/create-table-document.svg");
    background-repeat: no-repeat;
}

.add-watermark {
    background-image: url("img/docbuilder/samples/add-watermark.svg");
    background-repeat: no-repeat;
}

.create-reports {
    background-image: url("img/docbuilder/samples/create-reports.svg");
    background-repeat: no-repeat;
}

.mail-merge-reception {
    background-image: url("img/docbuilder/samples/mail-merge-reception.svg");
    background-repeat: no-repeat;
}

.fill-spreadsheet {
    background-image: url("img/docbuilder/samples/fill-spreadsheet.svg");
    background-repeat: no-repeat;
}

.create-spreadsheet-chart {
    background-image: url("img/docbuilder/samples/create-spreadsheet-chart.svg");
    background-repeat: no-repeat;
}

.comment-errors {
    background-image: url("img/docbuilder/samples/comment-errors.svg");
    background-repeat: no-repeat;
}

.create-presentation {
    background-image: url("img/docbuilder/samples/create-presentation.svg");
    background-repeat: no-repeat;
}

.create-chart-presentation {
    background-image: url("img/docbuilder/samples/create-chart-presentation.svg");
    background-repeat: no-repeat;
}

.create-basic-form {
    background-image: url("img/docbuilder/samples/create-basic-form.svg");
    background-repeat: no-repeat;
}

.create-advanced-form {
    background-image: url("img/docbuilder/samples/create-advanced-form.svg");
    background-repeat: no-repeat;
}

.fill-form {
    background-image: url("img/docbuilder/samples/fill-form.svg");
    background-repeat: no-repeat;
}
