/*
 *
 * (c) Copyright Ascensio System SIA 2023
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/

.background-body {
    color: var(--color-text-secondary);
    background: var(--color-bg-primary);
}

.layout-table-content {
    background: var(--color-bg-primary);
    padding: 0;
    padding-right: 0;
    border-left: none;
}

.layout-content {
    margin-top: 0;
    max-width: 100%;
}

.category-section {
    padding: 112px 0;
}

.category-heading {
    margin: 0 auto 64px;
    max-width: 736px;
    text-align: center;
}

.category-title {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.64px;
    color: var(--color-text-senary);
}

.category-description {
    font-size: 16px;
    line-height: 24px;
}

.category-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 64px;
}

.category-item {
    position: relative;
    padding: 32px;
    border-radius: 2px;
    border: 1px solid var(--color-border-quaternary);
    background-color: var(--color-bg-quaternary);
    /* transition: border-color 0.3s, box-shadow 0.3s; */
}

.category-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(181.84% 140.11% at 98.44% 1.84%, rgba(143, 67, 0, 0.53) 0%, rgba(51, 51, 51, 0.49) 67.66%);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.category-item:hover {
    border-color: #ED7309;
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.40);
}

.category-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.category-item-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 24px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
    z-index: 1;
}

.category-item-title a {
    display: block;
    color: var(--color-text-secondary);
    text-decoration: none;
}

.category-item-title:before {
    content: "";
    display: inline-flex;
    margin-right: 24px;
    width: 64px;
    height: 64px;
    background-image: url("img/category-page/icons.svg");
}

.category-item-title a:hover {
    color: var(--color-accent-primary);
}

.category-item-title.docspace.javascript-sdk:before {
    background-position-y: -64px;
}

.category-item-title.docspace.plugins:before,
.category-item-title.docs.plugin:before {
    background-position-y: -128px;
}

.category-item-title.docs.desktop:before {
    background-position-y: -320px;
}

.category-item-title.docs.editors:before {
    background-position-y: -256px;
}

.category-item-title.docs.docbuilder:before {
    background-position-y: -384px;
}

.category-item-title.docs.mobile-editors:before {
    background-position-y: -448px;
}

.category-item-title.docspace.hosting-providers:before,
.category-item-title.workspace.hosting-providers:before {
    background-position-y: -192px;
}

.category-item-description {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    z-index: 1;
}

.help {
    display: flex;
    justify-content: space-between;
}

.help-wrapper {
    padding: 10px 0 10px 32px;
}

.help-title {
    margin-bottom: 32px;
    color: var(--color-accent-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
}

.help-list {
    list-style-type: none;
    margin: 0;
}

.help-list li {
    position: relative;
    margin: 0;
    padding-left: 32px;
    color: var(--color-text-tertiary-2);
    font-size: 16px;
    line-height: 24px;
}

.help-list li:not(:last-child) {
    margin-bottom: 16px;
}

.help-list li:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--color-accent-primary);
}

.help-img {
    margin: 0 32px;
    width: 188px;
    height: 188px;
    background-image: url("img/category-page/help.svg");
    background-repeat: no-repeat;
    background-size: contain;
}