/*
 *
 * (c) Copyright Ascensio System SIA 2023
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 ยง 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 ยง 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/

.background-body {
    color: var(--color-text-secondary);
    background: var(--color-bg-primary);
}

.layout-table-content {
    background: var(--color-bg-primary);
    padding: 0;
    padding-right: 0;
    border-left: none;
}

.layout-content {
    margin-top: 0;
    max-width: 100%;
}

.category-section {
    padding: 112px 0;
}

.category-heading {
    margin: 0 auto 64px;
    max-width: 736px;
    text-align: center;
}

.category-title {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.64px;
    color: var(--color-text-quaternary);
}

.category-description {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-senary);
}

.category-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 64px;
}

.category-item {
    position: relative;
    padding: 32px;
    border-radius: 2px;
    border: 1px solid var(--color-border-quaternary);
    background-color: var(--color-bg-quaternary);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.category-item:hover {
    box-shadow: 0px 7px 15px 0px rgba(85, 85, 85, 0.1);
}

.theme-dark .category-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(181.84% 140.11% at 98.44% 1.84%, rgba(143, 67, 0, 0.53) 0%, rgba(51, 51, 51, 0.49) 67.66%);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.theme-dark .category-item:hover {
    border-color: #ED7309;
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.40);
}

.theme-dark .category-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.category-item-title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 24px;
    z-index: 1;
}

.category-item-title a {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.36px;
    color: var(--color-text-secondary);
    text-decoration: none;
}

.category-item-title:before {
    content: "";
    display: inline-flex;
    margin-right: 24px;
    width: 64px;
    min-width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: contain;
}

.category-item-title a:hover {
    color: #FF6F3D;
}

.category-item-title.jssdk:before {
    background-image: url("img/category-page/jssdk.svg");
}

.theme-dark .category-item-title.jssdk:before {
    background-image: url("img/category-page/jssdk-dark.svg");
}

.category-item-title.plugin:before,
.category-item-title.pluginssdk:before {
    background-image: url("img/category-page/plugins.svg");
}

.theme-dark .category-item-title.plugin:before,
.theme-dark .category-item-title.pluginssdk:before {
    background-image: url("img/category-page/plugins-dark.svg");
}

.category-item-title.docbuilder:before {
    background-image: url("img/category-page/docbuilder.svg");
}

.theme-dark .category-item-title.docbuilder:before {
    background-image: url("img/category-page/docbuilder-dark.svg");
}

.category-item-title.desktop:before {
    background-image: url("img/category-page/desktop.svg");
}

.theme-dark .category-item-title.desktop:before {
    background-image: url("img/category-page/desktop-dark.svg");
}

.category-item-title.backend:before,
.category-item-title.section:before {
    background-image: url("img/category-page/api.svg");
}

.theme-dark .category-item-title.backend:before,
.theme-dark .category-item-title.section:before {
    background-image: url("img/category-page/api-dark.svg");
}

.category-item-title.apisystem:before {
    background-image: url("img/category-page/hosting-providers.svg");
}

.theme-dark .category-item-title.apisystem:before {
    background-image: url("img/category-page/hosting-providers-dark.svg");
}

.category-item-title.officeapi:before {
    background-image: url("img/category-page/office-api.svg");
}

.theme-dark .category-item-title.officeapi:before {
    background-image: url("img/category-page/office-api-dark.svg");
}

.category-item-title.editors:before {
    background-image: url("img/category-page/docs-api.svg");
}

.theme-dark .category-item-title.editors:before {
    background-image: url("img/category-page/docs-api-dark.svg");
}

.category-item-description {
    position: relative;
    font-size: 14px;
    line-height: 21px;
    z-index: 1;
}

.help {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.help-wrapper {
    padding: 10px 0 10px 32px;
}

.help-title {
    margin-bottom: 32px;
    color: #FF6F3D;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
}

.help-list {
    list-style-type: none;
    margin: 0;
}

.help-list li {
    position: relative;
    margin: 0;
    padding-left: 32px;
    color: var(--color-text-tertiary-2);
    font-size: 16px;
    line-height: 24px;
}

.help-list li:not(:last-child) {
    margin-bottom: 16px;
}

.help-list li:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #FF6F3D;
}

.help-img {
    margin: 0 32px;
    width: 188px;
    min-width: 188px;
    height: 188px;
    background-image: url("img/category-page/help-light.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.theme-dark .help-img {
    background-image: url("img/category-page/help-dark.svg");
}

@media screen and (max-width: 1024px) {
    .category-section {
        padding: 64px 0;
    }

    .category-heading {
        margin: 0 auto 32px;
    }

    .category-description {
        font-size: 14px;
        line-height: 21px;
    }

    .category-item {
        padding: 24px;
    }

    .category-item-title {
        margin: 0 0 16px;
    }

    .category-item-title:before {
        margin-right: 16px;
    }

    .help-wrapper {
        padding: 0;
    }

    .help-img {
        margin: 0 10px 0 42px;
    }
}

@media screen and (max-width: 592px) {
    .category-section {
        padding: 42px 0;
    }

    .category-heading {
        margin: 0 auto 42px;
    }

    .category-title {
        margin: 0 0 32px;
        font-size: 28px;
        line-height: 37px;
    }

    .category-items {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 42px
    }

    .category-item {
        padding: 16px;
    }

    .category-item-title a {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: initial;
    }

    .category-item-title:before {
        width: 48px;
        min-width: 48px;
        height: 48px;
    }

    .category-item-description {
        font-size: 13px;
        line-height: 20px;
    }

    .help {
        display: block;
    }

    .help-title {
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 27px;
    }

    .help-list {
        padding: 0;
    }

    .help-list li {
        font-size: 13px;
        line-height: 20px;
    }

    .help-img {
        display: none;
    }
}