
.block_more {
    margin: 9px 0 0;
    position: absolute;
    bottom: 12px;
    padding-bottom: 6px;
}

.connector-info {
    padding-bottom: 8px;
}

.connector-info > a {
    position: relative;
    display: block;
    padding-bottom: 38.797%;
    width: 100%;
}

.connector-info p:not(.name-example-connector) {
    margin: 9px 0 18px;
    color: var(--color-text-tertiary-2);
}

.connector-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px 32px;
    margin: 0;
    margin-top: 32px;
}

.example-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: var(--color-bg-nonary);
}

.comments {
    background-image: url("img/connector/comments.svg");
    background-repeat: no-repeat;
}

.review-work {
    background-image: url("img/connector/review-work.svg");
    background-repeat: no-repeat;
}

.filling-form {
    background-image: url("img/connector/filling-form.svg");
    background-repeat: no-repeat;
}

.connector-example {
    border: 1px solid var(--color-border-decimal);
    box-sizing: border-box;
    box-shadow: 0px 7px 25px rgba(85, 85, 85, 0.15);
    border-radius: 3px;
    padding: 24px;
    margin: 0;
    list-style-type: none;
    position: relative;
    transition: box-shadow 0.3s;
}

.theme-dark .connector-example:hover {
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.4);
}

.connector-example.hidden {
    display: none;
}

.name-example-connector {
    margin: 32px 0 12px 0;
}

.name-example-connector a {
    color: var(--color-text-secondary);
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .connector-block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .connector-block {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 592px) {
    .connector-block {
        gap: 16px 24px;
        padding: 0;
    }

    .connector-example {
        max-width: 100%;
    }
}