/*
 *
 * (c) Copyright Ascensio System SIA 2023
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/

.background-body {
    color: var(--color-text-secondary);
    background: var(--color-bg-primary);
}

.layout-table-content {
    background: var(--color-bg-primary);
    padding: 0;
    padding-right: 0;
    border-left: none;
}

.layout-content {
    margin-top: 0;
    max-width: 100%;
}

.dpr {
    margin: 0 auto;
    max-width: 800px;
    padding: 121px 0 112px;
}

.dpr-wrapper {
    display: grid;
    row-gap: 32px;
    margin: 0 auto;
    max-width: 544px;
}

.dpr-title {
    margin: 0 0 56px;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: -0.64px;
    color: #333333;
}

.dpr-title span {
    color: #ff6f3d;
}

.data-item {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.data-item .input-wrapper {
    position: relative;
}

.data-item input {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 24px 16px 8px;
    height: 56px;
    background-color: #f9f9f9;
    outline: none;
    color: #333;
    transition: border-color 0.3s;
}

.data-item input::placeholder {
    color: transparent;
}

.data-item label {
    position: absolute;
    z-index: 2;
    left: 16px;
    top: 50%;
    font-size: 16px;
    line-height: 24px;
    color: #aaa;
    transform: translateY(-50%);
    pointer-events: none;
    transition: top 100ms ease, transform 100ms ease, font-size 100ms ease, line-height 100ms ease, color 100ms ease;
}

.data-item .error-text {
    display: none;
    color: #CB0000;
    font-size: 13px;
    line-height: 20px;
    margin-top: 8px;
}

.data-item .input-wrapper.focus input::placeholder {
    color: #ccc;
}

.data-item .input-wrapper input:invalid + label {
    top: 50%;
    font-size: 16px;
    line-height: 24px;
    transform: translateY(-50%);
}

.data-item .input-wrapper input:focus + label,
.data-item .input-wrapper.focus label,
.data-item .input-wrapper.valid label,
.data-item .input-wrapper.error label {
    top: 0;
    transform: translateX(0) translateY(8px);
    font-size: 12px;
    line-height: 16px;
    color: #666;
}

.data-item .input-wrapper.focus input {
    border-color: #666;
}

.data-item input:hover {
    border-color: #666;
}

.data-item .input-wrapper.error input {
    border-color: #CB0000;
    background-color: #FFF7F7;
}

.data-item .input-wrapper.error label {
    border-color: #CB0000;
    background-color: #FFF7F7;
}

.data-item .input-wrapper.error label {
    color: #ea9494;
}

.data-item .input-wrapper.valid input {
    border-color: #8BB825;
    background-color: #F9FEEF;
}

.data-item-wrapper {
    display: flex;
}

.data-item-checkbox {
    position: relative;
    display: flex;
    cursor: pointer;
}

.data-item-checkbox input {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.data-item-checkbox input:checked + span {
    border-color: #8bb825;
    background-color: #f9feef;
}

.data-item-checkbox input:checked + span:before {
    content: "";
    display: block;
    width: 6px;
    height: 13px;
    border: 0 solid #8bb825;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin: 2px 8px;
    pointer-events: none;
}

.data-item-checkbox span {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-color: #f9f9f9;
    outline: none;
}

.data-item-checkbox label {
    margin-top: 2px;
    font-size: 13px;
    line-height: 20px;
    color: #666;
    cursor: pointer;
}

.start-trial-text {
    margin: 4px 0 0 11px;
    font-size: 12px;
    line-height: 18px;
    color: #808080;
}

.data-item.phone .styled-select-container {
    width: 100%;
}

.data-item.phone .styled-select-container .tl-combobox {
    position: relative;
    height: 56px;
    line-height: 54px;
    margin-top: 0;
    border-radius: 3px 0 0 3px;
    background-color: #F5F5F5;
}

.data-item.phone .phoneControlSwitherWrapper,
.data-item.phone .phoneControlInputContainer {
    height: 56px;
}

.data-item.phone .phoneControlSwitherWrapper {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #E3E3E3;
}

.data-item.phone .phoneControlInputContainer {
    border-radius: 0 3px 3px 0;
    background-color: #F9F9F9;
}

.data-item.phone .phoneControlSwither .selectedPhoneCountry {
    margin: 0 0 0 16px;
}

.data-item.phone .phoneControlSwither::after {
    top: 27px;
}

.data-item.phone .phoneControlContainer {
    display: block;
    height: 56px;
}

.data-item.phone .phoneControlContainer.valid .phoneControlSwitherWrapper,
.data-item.phone .phoneControlContainer.valid .phoneControlInputContainer,
.data-item.phone .phoneControlContainer.valid .styled-select-container .tl-combobox {
    border-color: #8bb825;
    background-color: #f9feef;
}

.data-item.phone .phoneControlContainer.error .phoneControlSwitherWrapper,
.data-item.phone .phoneControlContainer.error .phoneControlInputContainer,
.data-item.phone .phoneControlContainer.error .styled-select-container .tl-combobox {
    border-color: #CB0000;
    background-color: #FFF7F7;
}

.data-item.phone .phoneControlContainer.error ~ label {
    color: #ea9494;
}

.data-item.phone label {
    top: 0;
    left: 62px;
    transform: translateX(0) translateY(8px);
    font-size: 12px;
    line-height: 16px;
    color: #666;
}

.data-item.phone span.phoneControlContainer input[type="text"].phoneControlInput {
    padding: 24px 16px 12px 12px;
    height: 56px;
    background-color: transparent;
}

.data-item.phone #phoneControlDropDown ul.dropdown-content {
    list-style-type: none;
    min-height: 23px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin: 0;
    max-height: 260px;
    max-width: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

.data-item.phone #phoneControlDropDown ul.dropdown-content li {
    margin: 0;
}

.data-item.phone #phoneControlDropDown ul.dropdown-content a.dropdown-item {
    display: block;
    margin: 2px 0 2px 8px;
    padding: 1px 1px 1px 2px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #333;
    text-align: left;
    white-space: normal;
    cursor: pointer;
}

.data-item.phone #phoneControlDropDown ul.dropdown-content a.dropdown-item:hover {
    text-decoration: underline;
}

.studio-action-panel {
    display: none;
    position: absolute;
    padding: 10px 20px 15px 10px;
    z-index: 999;
    background: #fff;
    border: 1px solid #d1d1d1;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.5); */
}

.studio-action-panel .corner-top {
    position: absolute;
    top: -4px;
    left: 16px;
    width: 7px;
    height: 6px;
    background: url("img/icons.png") -5px -165px no-repeat;
}

.progress-panel {
    position: relative;
}

.request-progress {
    display: none;
    position: absolute;
    top: -28px;
    font-size: 13px;
    color: #999;
    height: 16px;
}

.btn-loader {
    display: none;
    position: absolute;
    top: 18px;
    left: calc(50% - 9px);
    width: 18px;
    border-radius: 50%;
    margin-bottom: -18px;
    width: 18px;
    height: 18px;
    background: linear-gradient(to right,#fff 10%,rgba(255,255,255,0) 70%);
    animation: loader-rotation 1s infinite linear;
}

.btn-loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff;
    border-radius: 50px 50px 0 0;
}

.btn-loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: #fff 12.6px 0px 0 -7.8px;
    background-color: #ff6f3d;
}

@keyframes loader-rotation {
    100% {
        transform: rotate(360deg);
    }
}

.button {
    border: none;
    padding: 19px 24px;
    width: 100%;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.52px;
    background-color: #ff6f3d;
    transition: background-color 0.3s;
}

.button.red {
    border: none;
    color: #fff;
    background-color: #ff865c;
}

.button:hover,
.button:focus,
.button:active {
    border: none;
    padding: 19px 24px;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
}

.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active {
    border: none;
    padding: 19px 24px;
    color: #fff;
    background-color: rgba(255, 111, 61, 0.3);
}

.button.disabled {
    background-color: rgba(255, 111, 61, 0.3);
}

.button.text-hide {
    background-color: #ff6f3d;
    color: transparent;
}

.button.disabled.text-hide {
    opacity: 1;
}

.button.disabled.text-hide:hover,
.button.disabled.text-hide:focus {
    background-color: #ff6f3d;
    color: transparent;
}

.error-req {
    display: none;
    font-size: 14px;
    line-height: 160%;
    padding-top: 16px;
}

.error-req-active {
    display: block;
}