.get-docs-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 32px;
    margin: 32px 0;
}

.get-docs-option {
    border: 1px solid var(--color-border-decimal);
    box-sizing: border-box;
    box-shadow: 0px 7px 15px rgba(85, 85, 85, 0.1);
    border-radius: 3px;
    padding: 1px 0px 0px;
    list-style-type: none;
    position: relative;
    margin: 0;
    transition: box-shadow 0.3s;
}

.theme-dark .get-docs-option {
    box-shadow: 0px 12px 40px 0px rgba(4, 15, 27, 0.12);
}

.theme-dark .get-docs-option:hover {
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.4);
}

.get-docs-option > a {
    position: relative;
    display: block;
    padding-bottom: 81.89%;
}

.get-docs-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-color: var(--color-bg-nonary);
    background-position: center;
}

.windows {
    background-image: url("img/get-docs/windows.svg");
    background-repeat: no-repeat;
}

.linux {
    background-image: url("img/get-docs/linux.svg");
    background-repeat: no-repeat;
}

.theme-dark .linux {
    background-image: url("img/get-docs/linux-dark.svg");
}

.docker {
    background-image: url("img/get-docs/docker.svg");
    background-repeat: no-repeat;
}

.get-docs-link {
    margin: 24px;
}

.get-docs-link a {
    color: var(--color-text-secondary);
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.get-docbuilder-block {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 14px;
    list-style-type: none;
}

.get-docbuilder-option {
    margin: 0 32px 10px 0;
}

.get-docbuilder-link {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
}

.get-docbuilder-link:hover {
    text-decoration: underline;
}

.get-docbuilder-link::before {
    content: "";
    display: block;
    margin: 2px 8px 0 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
}

.get-docbuilder-link-start::before {
    background-image: url("img/get-docs/start.svg");
}

.theme-dark .get-docbuilder-link-start::before {
    background-image: url("img/get-docs/start-dark.svg");
}

.get-docbuilder-link-info::before {
    background-image: url("img/get-docs/info.svg");
}

.theme-dark .get-docbuilder-link-info::before {
    background-image: url("img/get-docs/info-dark.svg");
}

@media screen and (max-width: 1024px) {
    .get-docs-block {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media screen and (max-width: 768px) {
    .get-docs-block {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 592px) {
    .get-docs-block,
    .get-docbuilder-block {
        padding: 0;
    }

    .get-docs-block {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 475px) {
    .get-docs-block {
        grid-template-columns: repeat(1, 1fr);
    }
}