.get-docs-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 17px;
    margin: 0;
    margin-top: 32px;
}

.get-docs-option {
    background-color: #ffffff;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    box-shadow: 0px 7px 15px rgba(85, 85, 85, 0.1);
    border-radius: 3px;
    padding: 1px 0px 0px;
    list-style-type: none;
    position: relative;
    max-width: 256px;
}

.get-docs-img {
    height: 208px;
    background-size: 100%;
}

.windows {
    background-image: url("img/get-docs/windows.svg");
    background-repeat: no-repeat;
}

.linux {
    background-image: url("img/get-docs/linux.svg");
    background-repeat: no-repeat;
}

.docker {
    background-image: url("img/get-docs/docker.png");
    background-repeat: no-repeat;
}

.get-docs-link {
    margin: 24px;
}

.get-docs-link a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}

img {
    max-width: 100%;
}
