/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 12px 24px;
  background: var(--color-code-bg);
  color: var(--color-code-text);
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name {
  color: #00f;
}

.hljs-built_in,
.hljs-keyword {
  color: var(--color-code-keyword);
}

.hljs-tag {
  color: var(--color-code-tag);
}

.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
  color: var(--color-code-title);
}

.hljs-literal,
.hljs-string {
  color: var(--color-code-string);
}

.hljs-number {
  color: var(--color-code-text);
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
