/*
 *
 * (c) Copyright Ascensio System SIA 2024
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


/* HEAD */

.icon-program-block {
    margin: 46px auto 110px auto;
    justify-content: space-between;
    display: flex;
    max-width: 1120px;
}

.name-icon-program a {
    text-align: center;
    padding: 120px 0 0 0;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.name-icon-program {
    margin-top: 120px;
    font-size: 12px;
    letter-spacing: 0.08em;
}

.name-icon-program a:hover {
    color: #FF6F3D;
    text-decoration: underline;
}

/* IMG */

.icon-program-block > div {
    background-repeat: no-repeat;
    width: 170px;
    height: 100px;
    background-position: center;
    display: inline-block;
}

.img-title-editors {
    background-image: url("img/main-page/document_server.svg");
}

.img-title-docbuilder {
    background-image: url("img/main-page/document_builder.svg");
}

.img-title-plugin {
    background-image: url("img/main-page/plugins_and_macros.svg");
}

.img-title-portals {
    background-image: url("img/main-page/community_server.svg");
}

.img-title-desktop {
    background-image: url("img/main-page/desktop.svg");
}

.img-title-docspace {
    background-image: url("img/main-page/docspace.svg");
}

.block-img {
    width: 115px;
    height: 100px;
}

/* BLOCK */

.body-block {
    display: flex;
    margin: auto;
    max-width: 1120px;
    width: 100%;
    margin-top: 65px;
    align-items: flex-start;
}

.ip_main_part {
    display: block;
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.ip_main_part .docs_block {
    display: block;
    width: auto;
    position: relative;
    margin-bottom: 18px;
    vertical-align: top;
    border: 1px solid rgba(85, 85, 85, 0.15);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.pp_info_block {
    font-size: 14px;
    font-weight: 400;
    padding: 32px 32px 0 32px;
    line-height: 20px;
    text-align: left;
    color: #333333;
    border-bottom: 1px solid #CCCCCC;
}

.pp_info_block_more a {
    color: #FF6F3D;
}

.title-block {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 24px 0 0 0;
}

.title-main {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    text-align: center;
    letter-spacing: -0.02em;
}

.product-link-column {
    display: table-cell;
    box-sizing: border-box;
}

.api_title {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    line-height: 1.2em;
    padding-top: 20px;
    text-align: left;
}

.api_title a {
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    text-decoration: none;
    padding-top: 150px;
}

.long {
    padding-top: 20px;
    padding-left: 35px;
    box-sizing: border-box;
}

.api_users_block a {
    color: #333;
    text-decoration: none;
} 

.programs-list-title {
    font-weight: 700;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    margin: 24px 0 12px 0;
}

.programs-list {
    font-size: 12px;
    margin: 0px 0px 6px 0px;
}

.programs-list a:hover {
    color: #FF6F3D;
    text-decoration: underline;

}

.api_block_links {
    background-color: #fff;
    text-align: left;
    box-sizing: border-box;
}

.api_block_links .api_users_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
    grid-gap: 20px;
    padding: 0 32px 0 32px;
}

.api_col_wrapper {
    display: flex;
    max-width: 1120px;
    width: 100%;
    align-items: flex-start;
    margin: auto;
    padding: 0 16px;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.api_col_wrapper.showing{
    display:none;
}

@media screen and (max-width: 1024px) {
    .icon-program-block {
        max-width: 580px;
        display: block;
        line-height: 100px;
        margin-bottom: auto;
    }

    .body-block {
        max-width: 928px;
    }
}

@media screen and (max-width: 769px) {
    body.main-body {
        min-width: 795px;
    }

    .block-img {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .ip_main_part {
        margin: 0;
    }

    .api_block_links .api_users_block {
        display: none;
    }

    .product-link-column{
        display:block;
    }

    .api_products.col_1 {
        margin-right: 16px;
        width: 50%;
    }

    .api_col_wrapper.showing {
        display: flex;
    }

    .api_products a {
        color: #333;
        text-decoration: none;
    }

    .icon-program-block {
        max-width: 100%;
    }

    .body-block {
        display: block;
        max-width: 300px;
    }

    body.main-body {
        min-width: 100px !important;
        width: 100%;
    }

    .ip_main_part {
        width: 100%
    }

    .products-info {
        max-width: 288px;
        margin: auto;
        padding: 40px 0;
    }

    .pp_info_block {
        padding: 32px 16px 0 16px;
    }

    .long {
        padding-left: 16px;
    }

    .api_block_links .api_users_block {
        padding: 0 16px;
    }
}

@media screen and (max-width: 380px) {

    /*.api_block_links .api_users_block {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        width: 100%;
        grid-gap: 0px;
        height: 100%;
    }

    .product-link-column {
        width: 50%;
    }

    .product-link-column:nth-child(2n+1) {
        order: 2;
    }

    .product-link-column:nth-child(2n) {
        order: 1;
        position: absolute;
        right: 0;
        margin-bottom: 10px;
    }*/
}