/*
 *
 * (c) Copyright Ascensio System SIA 2023
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/

.line {
    position: absolute;
}

.line-1 {
    left: -96px;
    bottom: 26px;
}

.line-2 {
    right: -45px;
    bottom: -24px;
}

.line-3 {
    left: -96px;
    bottom: 41px;
}

.line-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url("img/main-page/circle.svg");
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
}

.line-circle.line-1-circle-1 {
    offset-path: path("M97 414V340L64 319V212M64 214.5V213L97 187V20");
}

.line-circle.line-1-circle-2 {
    offset-path: path("M96.5 808V658L63.5 637V310");
}

.line-circle.line-2-circle-1 {
    offset-path: path("M30 389V315L63 294V187");
}

.line-circle.line-2-circle-2 {
    offset-path: path("M94.5 833V652L61.5 631V334");
}

.line-circle.line-3-circle-1 {
    offset-path: path("M97.0001 200V147L64.0001 126V4");
}

.line-circle.line-3-circle-2 {
    offset-path: path("M96.5001 539V415L63.5001 394V73");
}

.line-circle.line-1-circle-1.animate,
.line-circle.line-2-circle-1.animate,
.line-circle.line-3-circle-1.animate {
    animation: circle 3s ease-in-out forwards;
}

.line-circle.line-1-circle-2.animate,
.line-circle.line-2-circle-2.animate,
.line-circle.line-3-circle-2.animate {
    animation: circle 4s ease-in-out 0.5s forwards;
}

.line-ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 59px;
    background-image: url("img/main-page/ellipse.svg");
    background-repeat: no-repeat;
    transform: rotate(90deg);
    opacity: 0;
}

.line-ellipse.line-1-ellipse-1 {
    offset-path: path("M97 175V33");
}

.line-ellipse.line-1-ellipse-2 {
    offset-path: path("M64 308V225");
}

.line-ellipse.line-1-ellipse-3 {
    offset-path: path("M97 402V380.198V352");
}

.line-ellipse.line-2-ellipse-1 {
    offset-path: path("M63 282V199");
}

.line-ellipse.line-2-ellipse-2 {
    offset-path: path("M30 377V362.227V327");
}

.line-ellipse.line-3-ellipse-1 {
    offset-path: path("M63.9999 114L64 16");
}

.line-ellipse.line-3-ellipse-2 {
    offset-path: path("M97 188V159");
}

.line-ellipse.line-1-ellipse-4 {
    offset-path: path("M96.5 808V658L63.5 637V310");
    top: -120px;
    transition: top 0.3s;
    opacity: 1;
}

.line-ellipse.line-2-ellipse-3 {
    offset-path: path("M94.5 833V652L61.5 631V334");
    top: -160px;
    transition: top 0.3s;
    opacity: 1;
}

.line-ellipse.line-3-ellipse-3 {
    offset-path: path("M96.5001 539V415L63.5001 394V73");
    top: -70px;
    transition: top 0.3s;
    opacity: 1;
}

.line-ellipse.line-1-ellipse-1.animate,
.line-ellipse.line-1-ellipse-2.animate,
.line-ellipse.line-1-ellipse-3.animate,
.line-ellipse.line-2-ellipse-1.animate,
.line-ellipse.line-2-ellipse-2.animate,
.line-ellipse.line-3-ellipse-1.animate,
.line-ellipse.line-3-ellipse-2.animate {
    animation: ellipse 3s ease-in-out forwards;
}

@keyframes circle {
    0% {
      offset-distance: 100%;
      opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
      offset-distance: 0%;
      opacity: 1;
    }
}

@keyframes ellipse {
    0% {
      offset-distance: 100%;
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
      offset-distance: 0%;
      opacity: 0;
    }
}

.main-items {
    display: grid;
    row-gap: 98px;
}

.main-item {
    position: relative;
    display: grid;
    grid-template-columns: 448px auto;
    align-items: start;
    column-gap: 32px;
    text-align: left;
}

.main-item.docs {
    order: -1;
}

.main-item.docs .main-item-links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 32px;
}

.main-item.docspace {
    grid-template-columns: auto 352px;
}

.main-item.workspace {
    grid-template-columns: 352px auto;
}

.main-item.docspace .main-item-img {
    order: -1;
}

.main-item-img {
    position: relative;
}

.main-item-img:hover .box-shadow {
    box-shadow: 0px 12px 100px 0px rgba(255, 111, 61, 0.20) !important;
}

.main-item.docs .main-item-img {
    padding-bottom: 78.595%;
}

.main-item.docspace .main-item-img {
    padding-bottom: 76.09%;
}

.main-item.workspace .main-item-img {
    padding-bottom: 69.976%;
}

.main-item-img .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    z-index: 2;
}

.main-item.docs .main-item-img .box-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 96%;
    height: 94%;
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.40);
    transition: box-shadow 0.3s;
    z-index: 1;
}

.main-item.docspace .main-item-img .box-shadow {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 93%;
    height: 86%;
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.40);
    transition: box-shadow 0.3s;
    z-index: 1;
}

.main-item.workspace .main-item-img .box-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 90%;
    box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.40);
    transition: box-shadow 0.3s;
    z-index: 1;
}

.main-item.docs .main-item-img .img {
    background-image: url("img/main-page/docs.png");
}

.main-item.docspace .main-item-img .img {
    background-image: url("img/main-page/docspace.png");
}

.main-item.workspace .main-item-img .img {
    background-image: url("img/main-page/workspace.png");
}

.main-item-wrapper {
    padding: 24px;
}

.main-item-title {
    margin: 0 0 24px;
}

.main-item-title a {
    display: block;
    font-size: 32px;
    line-height: 43px;
    font-weight: 700;
    letter-spacing: -0.64px;

    text-decoration: none;
    color: #F5F5F5;
}

.main-item-title:hover a {
    color: #FF6F3D;
}

.main-item-description {
    margin: 0 0 8px;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 21px;
}

.main-item-links {
    margin: 24px 0 0;
    list-style-type: none;
}

.main-item-links li {
    margin-bottom: 0;
}

.main-item-links a {
    display: flex;
    align-items: center;
    padding: 8px 0;
    color: #CCCCCC;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
}

.main-item-links a:before {
    content: "";
    display: inline-flex;
    margin-right: 24px;
    width: 32px;
    height: 32px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url("img/main-page/icons.svg");
}

.main-item-links a:hover {
    color: #FF6F3D;
}

.main-item.docspace .main-item-links a.javascript-sdk:before {
    background-position-y: -34px;
}

.main-item.docs .main-item-links a.plugins-macros:before,
.main-item.docspace .main-item-links a.plugins:before {
    background-position-y: -68px;
}

.main-item.workspace .main-item-links a.hosting-providers:before,
.main-item.docspace .main-item-links a.hosting-providers:before {
    background-position-y: -102px;
}

.main-item.docs .main-item-links a.mobile-editors:before {
    background-position-y: -136px;
}

.main-item.docs .main-item-links a.desktop-editors:before {
    background-position-y: -170px;
}

.main-item.docs .main-item-links a.docs-api:before {
    background-position-y: -204px;
}

.main-item.docs .main-item-links a.document-builder:before {
    background-position-y: -238px;
}