
.block_more {
    margin: 9px 0 0;
    position: absolute;
    bottom: 12px;
    padding-bottom: 6px;
}

.plug_more {
    margin: 9px 0 0 24px;
}

.macro-info {
    padding-bottom: 8px;
}

.plugin-info {
    padding: 24px;
    margin-bottom: 12px;
}

.macro-block, .plugin-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 0;
    margin-top: 32px;
}

.example-img {
    height: 80px;
    background-size: 100%;
}

.worksheet {
    background-image: url("img/macros/worksheet.svg");
    background-repeat: no-repeat;
}

.cell-background-color {
    background-image: url("img/macros/cell-background-color.svg");
    background-repeat: no-repeat;
}

.change-cell {
    background-image: url("img/macros/change-cell.svg");
    background-repeat: no-repeat;
}

.cell-font-bold {
    background-image: url("img/macros/cell-font-bold.svg");
    background-repeat: no-repeat;
}

.merge-and-unmerge {
    background-image: url("img/macros/merge-and-unmerge.svg");
    background-repeat: no-repeat;
}

.unmerge-cell {
    background-image: url("img/macros/unmerge-cell.svg");
    background-repeat: no-repeat;
}

.column-width {
    background-image: url("img/macros/column-width.svg");
    background-repeat: no-repeat;
}

.format-range {
    background-image: url("img/macros/format-range.svg");
    background-repeat: no-repeat;
}

.add-new-chart {
    background-image: url("img/macros/add-new-chart.svg");
    background-repeat: no-repeat;
}

.highlight-duplicates {
    background-image: url("img/macros/highlight-duplicates.svg");
    background-repeat: no-repeat;
}

.next-blank-row {
    background-image: url("img/macros/next-blank-row.svg");
    background-repeat: no-repeat;
}

.insert-text {
    background-image: url("img/macros/insert-text.svg");
    background-repeat: no-repeat;
}

.example-plug-img {
    height: 120px;
    margin: auto;
    background-position: 50% 50%;
    background-color: #F9F9F9;
}

.autocomplete {
    background-image: url("img/plugin/autocomplect.svg");
    background-repeat: no-repeat;
}

.telegram {
    background-image: url("img/plugin/telegram.svg");
    background-repeat: no-repeat;
}

.youtube {
    background-image: url("img/plugin/youtube.svg");
    background-repeat: no-repeat;
}

.helloworld {
    background-image: url("img/plugin/hello-world.svg");
    background-repeat: no-repeat;
}

.templates {
    background-image: url("img/plugin/templates.svg");
    background-repeat: no-repeat;
}

.search-replace {
    background-image: url("img/plugin/search-replace.svg");
    background-repeat: no-repeat;
}

.settings {
    background-image: url("img/plugin/settings.svg");
    background-repeat: no-repeat;
}

.countwords {
    background-image: url("img/plugin/counter.svg");
    background-repeat: no-repeat;
}

.get-and-paste {
    background-image: url("img/plugin/html.svg");
    background-repeat: no-repeat;
}

.thesaurus {
    background-image: url("img/plugin/thesaurus.svg");
    background-repeat: no-repeat;
}

.highlight {
    background-image: url("img/plugin/highligt.svg");
    background-repeat: no-repeat;
}

.add-comment {
    background-image: url("img/plugin/comment.svg");
    background-repeat: no-repeat;
}

.add-custom {
    background-image: url("img/plugin/add-custom.svg");
    background-repeat: no-repeat;
}

.load-custom {
    background-image: url("img/plugin/load-custom.svg");
    background-repeat: no-repeat;
}

.search-and-change {
    background-image: url("img/plugin/search-change.svg");
    background-repeat: no-repeat;
}

.chess {
    background-image: url("img/plugin/chess.svg");
    background-repeat: no-repeat;
}

.clippy {
    background-image: url("img/plugin/clippy.svg");
    background-repeat: no-repeat;
}

.language-tool {
    background-image: url("img/plugin/language-tool.svg");
    background-repeat: no-repeat;
}

.move-cursor {
    background-image: url("img/plugin/move-cursor.svg");
    background-repeat: no-repeat;
}

.controls-content {
    background-image: url("img/plugin/content-controls.svg");
    background-repeat: no-repeat;
}

.controls-navigation {
    background-image: url("img/plugin/controls-navigation.svg");
    background-repeat: no-repeat;
}

.controls-tags {
    background-image: url("img/plugin/controls-tags.svg");
    background-repeat: no-repeat;
}

.invoices {
    background-image: url("img/plugin/invoices.svg");
    background-repeat: no-repeat;
}

.num2word {
    background-image: url("img/plugin/num2word.svg");
    background-repeat: no-repeat;
}

.replace-on-start {
    background-image: url("img/plugin/replace-start.svg");
    background-repeat: no-repeat;
}

.symbol-table {
    background-image: url("img/plugin/symbol-table.svg");
    background-repeat: no-repeat;
}

.ocr {
    background-image: url("img/plugin/ocr.svg");
    background-repeat: no-repeat;
}

.photo-editor-example {
    background-image: url("img/plugin/photoeditor.svg");
    background-repeat: no-repeat;
}

.speech {
    background-image: url("img/plugin/speech.svg");
    background-repeat: no-repeat;
}

.mendeley {
    background-image: url("img/plugin/mendeley.svg");
    background-repeat: no-repeat;
}

.translator-example {
    background-image: url("img/plugin/google-translate.svg");
    background-repeat: no-repeat;
}

.extended {
    background-image: url("img/plugin/extended.svg");
    background-repeat: no-repeat;
}

.typograf {
    background-image: url("img/plugin/typograf.svg");
    background-repeat: no-repeat;
}

.example-add {
    background-image: url("img/plugin/example.svg");
    background-repeat: no-repeat;
}

.cbr {
    background-image: url("img/plugin/cbr.svg");
    background-repeat: no-repeat;
}

.zotero {
    background-image: url("img/plugin/zotero.svg");
    background-repeat: no-repeat;
}

.macro-example, .plugin-example {
    background-color: #fff;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    box-shadow: 0px 7px 25px rgba(85, 85, 85, 0.15);
    border-radius: 3px;
    padding: 24px;
    list-style-type: none;
    position: relative;
    max-width: 256px;
}

.plugin-example {
    padding: 0;
}

.plugin-example.hidden {
    display: none;
}

.name-example-macros {
    margin: 32px 0 12px 0;
}

.name-example-plugin {
    margin: 0 0 12px 0;
}

.name-example-macros a, .name-example-plugin a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
}

img {
    max-width: 100%;
}

#filter-plugin {
    z-index: 2;
    width: 196px;
    border: 1px solid #D0D5DA;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
}

.text-plugin {
    padding: 8px 16px;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #444;
    width: 50px;
}

#filter-plugin .img-plugin {
    background-image: url("img/plugin/arrow.svg");
    background-repeat: no-repeat;
    height: 10px;
    margin-top: 16px;
    float: right;
    width: 6px;
    margin-right: 8px;
    transition: all 0.1s linear;
}

#filter-plugin .img-plugin.rotate {
    transform: rotate(90deg);
}

.filter-selector {
    width: 196px;
    border: 1px solid #D0D5DA;
    box-sizing: border-box;
    box-shadow: 0px 7px 25px rgba(85, 85, 85, 0.15);
    border-radius: 3px;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    display: none;
    margin-top: 10px;
}

.filter-selector.show {
    display: block;
}

.filter-selector li {
     list-style-type: none;
     margin: 0;
}

.filter-selector li.selected {
     background-color: #F9F9F9;
     color: #FF6F3D;
}

.filter-selector ul {
    margin: 0;
}

.filter-item {
    cursor: pointer;
    user-select: none;
}

.filter-item.title {
    padding: 7px 32px;
}

.filter-title {
    padding: 7px 16px;
}

#back-drop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}


@media screen and (max-width: 1024px) {

    .macro-block, .plugin-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
    }

    .example-img {
        background-size: 208px;
    }
}

@media screen and (max-width: 500px) {
    .macro-block, .plugin-block {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .macro-example, .plugin-example {
        max-width: 100%;
    }

    .filter-selector ul {
        padding: 0;
    }
}

