/*
 *
 * (c) Copyright Ascensio System SIA 2023
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 � 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 � 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.site-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
}

.site-overlay.hidden {
    display: none;
}

.pushy {
    margin: 0 auto;
}

.pushy-submenu {
    position: relative;
    margin: 0;
    list-style-type: none;
}

.pushy-submenu-item {
    padding: 0 49px;
    cursor: pointer;
}

.pushy-submenu.active .pushy-submenu-item {
    color: #FF6F3D;
}

.pushy-submenu-item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 72px;
    box-sizing: border-box;
    display: inline-flex;
    color: var(--color-text-septenary);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

.pushy-submenu:hover .pushy-dropdown {
    display: block;
}

.pushy-submenu:hover > .pushy-submenu-item {
    color: #FF6F3D;
}

.pushy-submenu:hover .pushy-dropdown::before {
    animation: 0.3s forwards ease-in-out menuLineLeft;
}

.pushy-submenu:hover .pushy-dropdown::after {
    animation: 0.3s forwards ease-in-out menuLineRight;
}

.pushy-dropdown {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0;
    padding: 32px;
    list-style-type: none;
    border: 1px solid var(--color-border-quinary);
    border-radius: 0 0 8px 8px;
    width: max-content;
    min-width: 256px;
    max-width: 300px;
    background-color: var(--color-bg-tertiary);
    box-shadow: var(--color-box-shadow-primary);
    transform: translateX(-50%);
}

.pushy-dropdown:before {
    display: block;
    position: absolute;
    width: 0;
    content: "";
    height: 1px;
    background-color: #FF6F3D;
    transition: width 0.2s ease-in-out;
    left: 50%;
    top: -1px;
}

.pushy-dropdown:after {
    display: block;
    position: absolute;
    width: 0;
    content: "";
    height: 1px;
    background-color: #FF6F3D;
    transition: width 0.2s ease-in-out;
    left: 50%;
    top: -1px;
}

.pushy-dropdown li {
    margin-bottom: 16px;
}

.pushy-dropdown li:last-child {
    margin-bottom: 0;
}

.pushy-dropdown a {
    display: flex;
    align-items: center;
    color: var(--color-text-tertiary-3);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.pushy-dropdown a:hover {
    color: #FF6F3D;
}

.pushy-dropdown a::before {
    content: "";
    display: inline-flex;
    margin-right: 12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position-x: center;
}

.pushy-dropdown a.plugin::before,
.pushy-dropdown a.pluginssdk::before {
    background-image: url("img/header/plugins.svg");
}

.theme-dark .pushy-dropdown a.plugin::before,
.theme-dark .pushy-dropdown a.pluginssdk::before {
    background-image: url("img/header/plugins-dark.svg");
}

.pushy-dropdown a.docbuilder::before {
    background-image: url("img/header/doc-builder.svg");
}

.theme-dark .pushy-dropdown a.docbuilder::before {
    background-image: url("img/header/doc-builder-dark.svg");
}

.pushy-dropdown a.desktop::before {
    background-image: url("img/header/desktop.svg");
}

.theme-dark .pushy-dropdown a.desktop::before {
    background-image: url("img/header/desktop-dark.svg");
}

.pushy-dropdown a.jssdk::before {
    background-image: url("img/header/jssdk.svg");
}

.theme-dark .pushy-dropdown a.jssdk::before {
    background-image: url("img/header/jssdk-dark.svg");
}

.pushy-dropdown a.backend::before,
.pushy-dropdown a.officeapi::before,
.pushy-dropdown a.section::before {
    background-image: url("img/header/api.svg");
}

.theme-dark .pushy-dropdown a.backend::before,
.theme-dark .pushy-dropdown a.officeapi::before,
.theme-dark .pushy-dropdown a.section::before {
    background-image: url("img/header/api-dark.svg");
}

.pushy-dropdown a.apisystem::before {
    background-image: url("img/header/seld-hosted.svg");
}

.theme-dark .pushy-dropdown a.apisystem::before {
    background-image: url("img/header/seld-hosted-dark.svg");
}

.pushy-dropdown a.editors::before {
    background-image: url("img/header/docs-api.svg");
}

.theme-dark .pushy-dropdown a.editors::before {
    background-image: url("img/header/docs-api-dark.svg");
}

.top-nav {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    margin: 0;
    transform: translateX(-50%);
}

@keyframes menuLineLeft {
    0% {
      width: 0;
      left: 50%;
    }

    100% {
      width: 50%;
      left: 0;
    }
}

@keyframes menuLineRight {
    0% {
      width: 0;
    }

    100% {
      width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .pushy-submenu-item {
        padding: 0 37px;
        min-height: 60px;
    }

    .top-nav {
        position: relative;
        top: initial;
        left: initial;
        transform: initial;
    }
}

@media screen and (max-width: 896px) {
    .pushy-submenu-item {
        padding: 0 24px;
    }
}

@media screen and (max-width: 650px) {
    .pushy-submenu-item {
        padding: 0 16px;
    }
}

@media screen and (max-width: 592px) {
    .pushy {
        position: absolute;
        top: 100%;
        left: 0;
        border-top: 1px solid #444444;
        width: 100%;
        max-width: 100%;
        background-color: var(--color-bg-secondary);
        box-shadow: 0px 7px 15px 0px rgba(85, 85, 85, 0.1);
        opacity: 0;
        visibility: hidden;
    }

    .theme-dark .pushy {
        box-shadow: initial;
    }

    .pushy.pushy-submenu-open {
        opacity: 1;
        visibility: visible;
    }

    .top-nav {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .pushy-submenu {
        display: block;
        margin: 0;
        padding: 0;
        cursor: initial;
    }

    .pushy-submenu:not(:last-child) {
        margin-bottom: 16px;
    }

    .pushy-submenu::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        background-image: url("img/arrow-down.svg");
        background-position: center;
        background-repeat: no-repeat;
    }

    .pushy-submenu:hover .pushy-dropdown {
        display: none;
    }

    .pushy-submenu.show .pushy-dropdown {
        display: block;
    }

    .pushy-submenu.show::after {
        transform: rotate(180deg);
    }

    .pushy-submenu-item {
        min-height: initial;
        padding: 0;
        font-size: 13px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: var(--color-text-secondary);
        cursor: pointer;
    }

    .pushy-dropdown {
        position: relative;
        top: initial;
        left: initial;
        padding: 0;
        border: none;
        border-radius: initial;
        width: 100%;
        min-width: initial;
        max-width: initial;
        background-color: initial;
        box-shadow: initial;
        transform: initial;
    }

    .pushy-dropdown:before,
    .pushy-dropdown:after {
        content: none;
    }

    .pushy-dropdown a {
        margin-top: 16px;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: var(--color-text-quaternary);
    }
}