/*
 *
 * (c) Copyright Ascensio System SIA 2024
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.site-overlay {
    display: none;
}

.pushy-submenu-closed ul {
    display: grid !important;
}

@media screen and (max-width: 1024px) {

    .all-menu-items {
        display: inline-block;
    }

    .pushy {
        -webkit-overflow-scrolling: touch;
        background: #fff;
        border-right: 1px solid #d9d9d9;
        height: 100%;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 100;
        -webkit-overflow-scrolling: touch;
    }

    .pushy.pushy-submenu-closed {
        display: none;
    }

    .pushy.pushy-submenu-open {
        display: block;
    }

    .pushy-submenu {
        border-bottom: 1px solid #f2f2f2;
    }

    .pushy-submenu:before {
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        background-image: url("img/arrow-gray.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        position: relative;
        left: 17px;
        top: 20px;
        -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        transition: 0.1s linear;
    }

    .pushy a {
        color: #333;
        display: block;
        outline: 0;
        padding: 7px 25px 15px 40px;
        text-decoration: none;
        width: 300px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: left;
    }

    .pushy a:hover {
        color: #FF6F3D;
    }

    .pushy .pushy-left {
        left: 0;
    }

    .pushy-left {
        -webkit-transform: translate3d(-300px, 0, 0);
        -ms-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
    }

    .pushy-submenu-open {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .pushy-open-left .push {
        -ms-transform: translate3d(300px, 0, 0);
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }

    .pushy-open-left .pushy {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .pushy-open-left .site-overlay {
        -webkit-animation: fade 500ms;
        animation: fade 500ms;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
    }

    #container {
        transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    }

    .push {
        transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    }

    .pushy-submenu ul {
        transition: max-height 0.2s ease-in-out;
    }

    .pushy-submenu .pushy-link {
        transition: opacity 0.2s ease-in-out;
    }

    .pushy-submenu a {
        position: relative;
    }

    .pushy-submenu-closed ul {
        max-height: 0;
        overflow: hidden;
    }

    .pushy-submenu-closed .pushy-link {
        opacity: 0;
    }

    .pushy-submenu-open ul {
        display: block;
        max-height: 1000px;
        position: relative;
        padding: 0;
    }

    .pushy-submenu-open .pushy-link {
        opacity: 1;
    }

    .site-overlay {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 100;
    }

    .site-overlay.hidden {
        display: none;
    }

    .pushy-submenu-closed ul {
        display: none;
        max-height: none;
    }
}


@media screen and (max-width: 500px) {
    .pushy {
        -webkit-overflow-scrolling: touch;
        background: #333;
        border-right: none;
        height: 264px;
        overflow: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 100;
        -webkit-overflow-scrolling: touch;
        margin-top: 48px;
        border-top: 1px solid #444;
    }

    .pushy-content {
        width: 300px;
        position: absolute;
        right: 0;
    }

    .pushy a {
        color: #f2f2f2;
        display: block;
        outline: 0;
        padding: 6px 25px 10px 0px;
        text-decoration: none;
        width: 250px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: right;
        font-size: 12px;
    }

    .pushy-submenu {
        border-bottom: none;
    }

    .top-nav li.active a {
        color: #f94a0c;
        border-bottom: none;
    }
}
