/*
 *
 * (c) Copyright Ascensio System SIA 2023
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 � 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 � 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


.site-overlay {
    display: none;
}

.pushy-submenu {
    position: relative;
}

.pushy-submenu:hover .pushy-dropdown {
    display: block;
}

.pushy-submenu:hover > a {
    color: #FF6F3D;
}

.pushy-submenu:hover .pushy-dropdown::before {
    animation: 0.3s forwards ease-in-out menuLineLeft;
}

.pushy-submenu:hover .pushy-dropdown::after {
    animation: 0.3s forwards ease-in-out menuLineRight;
}

.pushy-dropdown {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0;
    padding: 32px;
    list-style-type: none;
    border: 1px solid var(--color-border-quinary);
    border-radius: 0 0 8px 8px;
    width: max-content;
    min-width: 256px;
    max-width: 300px;
    background-color: var(--color-bg-tertiary);
    box-shadow: var(--color-box-shadow-primary);
    transform: translateX(-50%);
}

.pushy-dropdown:before {
    display: block;
    position: absolute;
    width: 0;
    content: "";
    height: 1px;
    background-color: #FF6F3D;
    transition: width 0.2s ease-in-out;
    left: 50%;
    top: -1px;
}

.pushy-dropdown:after {
    display: block;
    position: absolute;
    width: 0;
    content: "";
    height: 1px;
    background-color: #FF6F3D;
    transition: width 0.2s ease-in-out;
    left: 50%;
    top: -1px;
}

.pushy-dropdown li {
    margin-bottom: 16px;
}

.pushy-dropdown li:last-child {
    margin-bottom: 0;
}

.pushy-dropdown a {
    display: flex;
    color: var(--color-text-tertiary-3);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}

.pushy-dropdown a:hover {
    color: #FF6F3D;
}

.pushy-dropdown a::before {
    content: "";
    display: inline-flex;
    margin-right: 12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position-x: center;
}

.pushy-dropdown a.plugin::before,
.pushy-dropdown a.pluginssdk::before {
    background-image: url("img/header/plugins.svg");
}

.theme-dark .pushy-dropdown a.plugin::before,
.theme-dark .pushy-dropdown a.pluginssdk::before {
    background-image: url("img/header/plugins-dark.svg");
}

.pushy-dropdown a.docbuilder::before {
    background-image: url("img/header/docbuilder.svg");
}

.theme-dark .pushy-dropdown a.docbuilder::before {
    background-image: url("img/header/docbuilder-dark.svg");
}

.pushy-dropdown a.desktop::before {
    background-image: url("img/header/desktop.svg");
}

.theme-dark .pushy-dropdown a.desktop::before {
    background-image: url("img/header/desktop-dark.svg");
}

.pushy-dropdown a.jssdk::before {
    background-image: url("img/header/jssdk.svg");
}

.theme-dark .pushy-dropdown a.jssdk::before {
    background-image: url("img/header/jssdk-dark.svg");
}

.pushy-dropdown a.backend::before,
.pushy-dropdown a.officeapi::before,
.pushy-dropdown a.section::before {
    background-image: url("img/header/api.svg");
}

.theme-dark .pushy-dropdown a.backend::before,
.theme-dark .pushy-dropdown a.officeapi::before,
.theme-dark .pushy-dropdown a.section::before {
    background-image: url("img/header/api-dark.svg");
}

.pushy-dropdown a.apisystem::before {
    background-image: url("img/header/api-system.svg");
}

.theme-dark .pushy-dropdown a.apisystem::before {
    background-image: url("img/header/api-system-dark.svg");
}

.pushy-dropdown a.editors::before {
    background-image: url("img/header/docs-api.svg");
}

.theme-dark .pushy-dropdown a.editors::before {
    background-image: url("img/header/docs-api-dark.svg");
}

@keyframes menuLineLeft {
    0% {
      width: 0;
      left: 50%;
    }

    100% {
      width: 50%;
      left: 0;
    }
}

@keyframes menuLineRight {
    0% {
      width: 0;
    }

    100% {
      width: 50%;
    }
}

@media screen and (max-width: 1024px) {

    .all-menu-items {
        display: inline-block;
    }

    .pushy {
        -webkit-overflow-scrolling: touch;
        background: #fff;
        border-right: 1px solid #d9d9d9;
        height: 100%;
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 100;
        -webkit-overflow-scrolling: touch;
    }

    .pushy.pushy-submenu-closed {
        display: none;
    }

    .pushy.pushy-submenu-open {
        display: block;
    }

    .pushy-submenu {
        display: flex;
        border-bottom: 1px solid #f2f2f2;
    }

    .pushy-submenu:before {
        display: block;
        content: '';
        width: 10px;
        height: 10px;
        background-image: url("img/arrow-gray.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto 100%;
        position: absolute;
        left: 17px;
        top: 19px;
        -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        transition: 0.1s linear;
    }

    .pushy a {
        color: #333;
        display: flex;
        align-items: center;
        outline: 0;
        padding: 16px 24px;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: left;
    }

    .pushy a:hover {
        color: #FF6F3D;
    }

    .pushy .pushy-left {
        left: 0;
    }

    .pushy-left {
        -webkit-transform: translate3d(-300px, 0, 0);
        -ms-transform: translate3d(-300px, 0, 0);
        transform: translate3d(-300px, 0, 0);
    }

    .pushy-submenu-open {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .pushy-open-left .push {
        -ms-transform: translate3d(300px, 0, 0);
        -webkit-transform: translate3d(300px, 0, 0);
        transform: translate3d(300px, 0, 0);
    }

    .pushy-open-left .pushy {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .pushy-open-left .site-overlay {
        -webkit-animation: fade 500ms;
        animation: fade 500ms;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
    }

    #container {
        transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    }

    .push {
        transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
    }

    .pushy-submenu ul {
        transition: max-height 0.2s ease-in-out;
    }

    .pushy-submenu .pushy-link {
        transition: opacity 0.2s ease-in-out;
    }

    .pushy-submenu a {
        position: relative;
    }

    .pushy-submenu-closed ul {
        max-height: 0;
        overflow: hidden;
    }

    .pushy-submenu-closed .pushy-link {
        opacity: 0;
    }

    .pushy-submenu-open ul {
        display: block;
        max-height: 1000px;
        position: relative;
        padding: 0;
    }

    .pushy-submenu-open .pushy-link {
        opacity: 1;
    }

    .site-overlay {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 100;
    }

    .site-overlay.hidden {
        display: none;
    }

    .pushy-submenu-closed ul {
        display: none;
        max-height: none;
    }

    .pushy-dropdown {
        display: none !important;
        top: initial;
        left: initial;
        border: none;
        border-radius: initial;
        width: initial;
        min-width: initial;
        max-width: initial;
        background-color: transparent;
        box-shadow: initial;
        transform: initial;
    }

    .pushy-dropdown::before,
    .pushy-dropdown::after {
        content: none;
    }

    .pushy-dropdown li {
        margin: 0;
    }

    .pushy-dropdown a {
        display: flex;
    }
}


@media screen and (max-width: 768px) {
    .pushy {
        -webkit-overflow-scrolling: touch;
        background: #333;
        border-right: none;
        height: initial;
        overflow: auto;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 100;
        -webkit-overflow-scrolling: touch;
        margin-top: 48px;
        border-top: 1px solid #444;
    }

    .pushy a {
        color: #f2f2f2;
        outline: 0;
        padding: 6px 25px 10px 0px;
        text-decoration: none;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        text-align: right;
        font-size: 12px;
    }

    .pushy-submenu {
        border-bottom: none;
    }

    .pushy-submenu-open ul {
        padding: 8px 0;
    }

    .top-nav li.active a {
        color: #f94a0c;
        border-bottom: none;
    }
}
