/*
 *
 * (c) Copyright Ascensio System Limited 2010-2016
 *
 * This program is freeware. You can redistribute it and/or modify it under the terms of the GNU 
 * General Public License (GPL) version 3 as published by the Free Software Foundation (https://www.gnu.org/copyleft/gpl.html). 
 * In accordance with Section 7(a) of the GNU GPL its Section 15 shall be amended to the effect that 
 * Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * THIS PROGRAM IS DISTRIBUTED WITHOUT ANY WARRANTY; WITHOUT EVEN THE IMPLIED WARRANTY OF MERCHANTABILITY OR
 * FITNESS FOR A PARTICULAR PURPOSE. For more details, see GNU GPL at https://www.gnu.org/copyleft/gpl.html
 *
 * You can contact Ascensio System SIA by email at sales@onlyoffice.com
 *
 * The interactive user interfaces in modified source and object code versions of ONLYOFFICE must display 
 * Appropriate Legal Notices, as required under Section 5 of the GNU GPL version 3.
 *
 * Pursuant to Section 7 § 3(b) of the GNU GPL you must retain the original ONLYOFFICE logo which contains 
 * relevant author attributions when distributing the software. If the display of the logo in its graphic 
 * form is not reasonably feasible for technical reasons, you must include the words "Powered by ONLYOFFICE" 
 * in every copy of the program you distribute. 
 * Pursuant to Section 7 § 3(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
*/


/* Styles for validation helpers
-----------------------------------------------------------*/

/*clearfix*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/*global*/
h1, h2, h3, p, pre, a, code, em, img, strong, dd, dl, dt, li, ul, ol, form, label, button, table, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc outside none;
    margin: 8px 0 8px 24px;
}

li {
    margin: 0 0 10px;
}

ol {
    margin: 8px 0 8px 20px;
}

ol li {
    margin-bottom: 18px;
}

.blue-color-text {
    color: #3d4a6b;
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b {
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    font-size: 14px;
    margin: 9px 0 18px;
}

/*logo*/
.logo {
    background: url("img/sprite.png") no-repeat 0 16px transparent;
    display: inline-block;
    float: left;
    height: 71px;
    outline: none;
    width: 260px;
}

/*layout*/
body,
html {
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 14px;
    color: #333;
    background: #fff;
}

.layout-table {
    border: medium none;
    height: 100%;
    margin: 0;
    min-width: 1000px;
    padding: 0;
    width: 100%;
}

.layout-table tr,
.layout-table td {
    border: medium none;
    vertical-align: top;
}

.layout-table-header {
    background-color: rgba(255,255,255,0.95);
    height: 71px;
    margin: 0;
    min-width: 976px;
    padding: 0 24px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 600;
    width: 100%;
}

.layout-table td.layout-table-header {
    border-bottom: 1px solid #d9d9d9;
}

.layout-header {
    width: 100%;
}

.layout-table-side {
    height: 100%;
    margin: 0;
    padding: 100px 0 30px 24px;
    width: 261px;
}

.layout-side {
    border-right: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
    padding: 0 24px 0 0;
    text-overflow: ellipsis;
    width: 236px;
}

.layout-table-content {
    margin: 0;
    padding: 80px 24px;
}

.layout-content {
    margin-top: 20px;
    max-width: 947px;
    min-width: 691px;
    width: 100%;
}

.layout-content.center {
    margin: 20px auto 0;
}

/*table*/
.table {
    border: medium none;
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
}

.table td {
    border: medium none;
    vertical-align: middle;
    padding: 15px 16px 22px;
    font-size: 13px;
}

.table-conversion-matrix-container {
    border: medium none;
    border-collapse: collapse;
    width: 100%;
}

.table-conversion-matrix-container td {
    border: medium none;
    padding: 15px 16px 22px;
    font-size: 12px;
}

.table-conversion-matrix-text,
.table-conversion-matrix-spreadsheet,
.table-conversion-matrix-presentation {
    border: 1px solid #d7d8dc;
    vertical-align: middle;
    padding: 5px;
    font-size: 12px;
    width: 100%;
}

.table-conversion-matrix-text td,
.table-conversion-matrix-spreadsheet td {
    width: 16%;
    border: medium none;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #d7d8dc;
}

.table-conversion-matrix-presentation td {
    width: 33%;
    border: medium none;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #d7d8dc;
}

.table-conversion-matrix-text th,
.table-conversion-matrix-spreadsheet th,
.table-conversion-matrix-presentation th {
    text-align: center;
    vertical-align: bottom;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #d7d8dc;
}

.table-conversion-matrix-cell-tick {
    background: #F4F4F4;
}

.table td:first-child {
    padding-left: 8px;
}

.table td:last-child {
    padding-right: 8px;
}

.table .tablerow {
    border-bottom: 1px solid #d7d8dc;
}

.table thead td {
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 4px;
    font-size: 16px;
}

.table.hover tbody .tablerow:hover {
    background-color: #e5e5e5;
}

.table .infotext {
    color: #999;
}

/*links*/
a,
a:hover,
a:visited {
    color: #5891d0;
}

a:hover {
    text-decoration: none;
}

.dotline {
    border-bottom: 1px dotted;
}

.fakelink {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

/*headers*/
h1 {
    font-size: 35px;
    font-weight: 300;
    margin: 10px 0 20px;
    line-height: 1.3em;
    color: #f94a0c;
}

h1 .up,
h1 .up:hover {
    background-color: #f9f9f9;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    float: left;
    margin: 12px 8px 0 0;
    padding: 4px;
    text-decoration: none;
}

h1 .up:after {
    background: url("img/sprite.png") no-repeat scroll 0 -150px transparent;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
}

h1 .comment {
    color: #666;
    font-size: 12px;
    left: 32px;
    line-height: 12px;
    position: absolute;
    text-transform: none;
    top: 28px;
}

h2 {
    color: #333;
    font-size: 30px;
    font-weight: 300;
    margin: 1.5em 0 .3em;
}

.header-gray {
    background-color: #ebebeb;
    font-size: 14px;
    margin-top: 32px;
    padding: 6px 8px;
}

#clipLink {
    background: url("img/sprite.png") no-repeat scroll 0 -122px transparent;
    color: #333;
    cursor: pointer;
    float: right;
    font-size: 12px;
    line-height: 20px;
    padding-left: 24px;
    text-decoration: none;
    outline: none;
}

.list-header {
    margin: 32px 0 16px;
}

.todo {
    color: red;
}

/*top navigation*/
.top-nav {
    float: left;
    height: 50px;
    margin: 0;
}

.top-nav li {
    display: block;
    float: left;
    padding: 0;
}

.top-nav li.active a {
    color: #f94a0c;
    border-color: #f94a0c;
}

.top-nav a {
    color: #555;
    font-size: 12px;
    font-weight: 600;
    line-height: 71px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 15px;
}

.top-nav a:hover {
    color: #333f5b;
    border-color: #f94a0c;
}

/*footer*/
.layout-table-footer {
    height: 50px;
    vertical-align: top;
}

.bottommenu {
    float: left;
    font-size: 13px;
    margin: 0 0 0 24px;
    padding: 0;
}

.bottommenu ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.bottommenu ul li {
    display: inline-block;
    margin: 0 12px 0 0;
    padding: 0;
}

.bottommenu a {
    color: #666;
    text-decoration: none;
}

.copyReserved {
    float: right;
    margin: 0 24px 0 0;
    font-size: 13px;
    color: #333;
}
/*search form*/
.search-box {
    display: block;
    height: 24px;
    margin-bottom: 18px;
    white-space: nowrap;
    width: 236px;
}

.search-input {
    border: 1px solid #c2c2c2;
    display: inline-block;
    padding: 2px 2px 2px 4px;
    float: left;
    width: 186px;
    height: 23px;
    line-height: 18px;
    position: relative;
    border-radius: 4px;
}

.search-box input,
.search-box input:focus {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    display: inline-block;
    font-size: 14px;
    outline: none;
    width: 166px;
    padding: 0;
    top: 2px;
    height: 23px;
    line-height: 23px;
    position: absolute;
}

.search-clear {
    display: inline-block;
    background: url("img/sprite.png") no-repeat scroll 0 -168px transparent;
    width: 16px;
    height: 22px;
    position: absolute;
    right: 4px;
    display: none;
}

.search-clear:hover {
    background-position: 0 -188px;
}

.search-box .btn {
    background: url("img/sprite.png") no-repeat scroll 0 -59px transparent;
    border: 0 none;
    height: 23px;
    margin: 2px 0 0 10px;
    padding: 0;
    width: 23px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
}

/*start page*/
.products {
    margin: 140px auto 0;
    text-align: center;
    vertical-align: top;
}

.products-info {
    padding: 0 10px;
}

.product-list .product:last-child {
    margin-right: 0;
}

.product {
    display: inline-block;
    font-size: 18px;
    width: 212px;
    margin-right: 23px;
    text-align: center;
    vertical-align: top;
}

.product a {
    outline: none;
    text-decoration: none;
}

/*code example*/
pre,
.commandline {
    border: 1px solid #CCC;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    font-family: Monaco,Andale Mono,Courier New,monospace;
    font-size: 12px;
    line-height: 18px;
    margin: 18px 0 24px;
    padding: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre.hljs {
    padding-left: 35px;
}

/*note block*/
.note {
    color: #808080;
    padding: 10px 30px 10px 50px;
    text-align: justify;
    display: block;
    background: #f4f4f4;
    margin: 16px 0;
    line-height: 1.3em;
    background: #F4F4F4;
    min-height: 22px;
    position: relative;
    font-size: 13px;
    border-radius: 2px;
    border-left: 5px solid #5891d0;
    border-right: 5px solid #5891d0;
}

.note:before {
    content: 'N';
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 15px;
    color: #808080;
    top: 10px;
}

.note:after {
    content: 'B:';
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 22px;
    color: #808080;
    top: 10px;
}

/*Highliter*/
.bracket {
    color: #090;
}

.param-name {
    color: #36C;
}

.search-result {
    color: #e34603;
}

/*treeview*/
.treeview .collapsable-hitarea {
    background: url("img/sprite.png") no-repeat 0 -102px transparent;
}

.treeview .expandable-hitarea {
    background: url("img/sprite.png") no-repeat 0 -82px transparent;
}

#embeddedEditor {
    min-height: 550px;
    background: #f1f1f1;
    border: 1px solid #cccccc;
}

.button,
.button:visited,
.button:active {
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    padding: 17px 22px;
    text-align: center;
    text-decoration: none !important;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1em;
    color: #fff;
    background: #444;
}

.button:hover {
    text-decoration: none;
    background: #565656;
    color: #fff;
}

.button-upper {
    text-transform: uppercase;
}

.demo-tab-panel {
    margin-bottom: -1px;
    width: 100%;
}

.demo-tab-panel td {
    height: 48px;
    width: 30%;
}

.demo-tab-center {
    margin: 0 -1px;
}

.demo-tab-panel a {
    background: #f5f5f5;
    border: 1px solid #ccc;
    display: block;
    font-size: 13px;
    font-weight: 700;
    height: 34px;
    outline: none;
    padding-top: 13px;
    text-align: center;
    text-decoration: none;
}

.demo-tab-panel a:hover {
    background: #fcfcfc;
}

.demo-tab-panel a.active {
    background: #fff;
    border-bottom: 1px solid #FFF;
}

.demo-block {
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 18px;
    padding: 20px 9px 9px;
}

.demo-info-buttons {
    margin-bottom: 30px;
}

.required {
    color: #C00;
}

.required-descr {
    display: block;
    font-size: 12px;
}

.table-name {
    width: 115px;
}

.table-type {
    width: 90px;
}

.table-example {
    width: 200px;
}

.button-popap-try {
    border-bottom: 1px dotted;
    cursor: pointer;
}

.language-example-table td {
    padding: 10px;
    vertical-align: top;
    text-align: center;
}

.try-now-table {
    width: 100%;
}

.try-now-table th {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    vertical-align: top;
}

.try-now-table tbody th {
    text-align: left;
    padding: 10px 30px 10px 10px;
    vertical-align: top;
}

.try-now-table tr {
    border-bottom: 1px solid #d7d8dc;
}

.try-now-table td {
    padding: 10px 30px;
    vertical-align: top;
    text-align: center;
}

.try-now-table .button {
    background-color: #fff;
    color: #666;
    border: 1px solid #b2b2b2;
    padding: 5px 0;
    width: 80px;
    margin: 0 0 10px;
    border-radius: 3px 0 0 3px;
    vertical-align: top;
}

.try-now-table .button:hover {
    color: #f94a0c;
    border-color: #f94a0c;
}

.try-now-table .button-popap-try {
    background-color: #444;
    color: #fff;
    border: 1px solid #444;
    border-left: 0 none;
    padding: 5px;
    /*font-weight: 700;*/
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    margin: 0 0 10px;
    line-height: 1em;
    display: inline-block;
    vertical-align: top;
}

.try-now-table .button-popap-try:hover {
    text-decoration: none;
    background: #565656;
    color: #fff;
}

/********************
    popap
******************/
.popap-dialog {
    background-color: #fff;
    border: 0 none;
    box-shadow: 1px 1px 8px #aaa;
    cursor: default;
    display: none;
    opacity: 1;
    padding: 0;
    z-index: 1200;
}

.popap-header {
    text-transform: uppercase;
}

.popap-container {
    padding: 15px;
}

.popap-close {
    background-color: transparent;
    cursor: pointer;
    display: block;
    font-size: 28px;
    font-weight: bold;
    height: 16px;
    margin-right: 0;
    margin-top: 0;
    padding: 5px;
    position: absolute;
    right: 8px;
    top: 0;
    width: 16px;
}

/******************
    video
******************/
.video-link {
    cursor: pointer;
    float: right;
    height: 150px;
    margin: 0 0 20px 20px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.video-link:before,
.video-link:after {
    color: white;
    line-height: 1px;
    position: absolute;
}

.video-link:before {
    background: white;
    content: "";
    height: 93px;
    left: 103px;
    opacity: 0.3;
    top: 28px;
    width: 93px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}

.video-link:after {
    border-top: 28px solid transparent;
    border-left: 50px solid white;
    border-bottom: 28px solid transparent;
    content: "";
    height: 0;
    left: 130px;
    opacity: 0.8;
    top: 47px;
    width: 0;
}

.video-link:hover:after {
    opacity: 1;
}

.video-frame {
    height: 365px;
    margin: 18px 0 24px;
    width: 650px;
}


/********
    docbuilder
**************/
.details {
    border-left: 2px solid #ddd;
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px;
}
.details dt {
        float: left;
        padding-left: 10px;
        width: 120px;
    }
.details dd {
        margin-bottom: 6px;
        margin-left: 70px;
        margin-top: 6px;
    }
.details ul {
        list-style-type: none;
        margin: 0;
    }

.param-type {
    margin: 14px 0;
    }
.param-type dd {
        display: inline-block;
    }
.param-type dt {
        display: inline-block;
    }


h2 + .copy-code,
h2 + .copy-code:active {
    float: right;
    margin-top: -32px;
}

.docnote {
    background-color: #efefef;
    font-size: 13px;
    line-height: 1.5em;
    margin: 20px 0;
    padding: 10px 20px;
}
.document_structure {
    border: 1px solid #d9d9d9;
    margin: 15px 0 0;
    padding: 10px 20px 20px;
    text-align: left;
    vertical-align: top;
}
.document_structure.tablecell_node {
    display: inline-block;
    width: 44%;
    }
    .document_structure.tablecell_node .document_structure.image_node {
        width: 23%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .document_structure.tablecell_node .document_structure.shape_node {
        width: 23%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .document_structure.tablecell_node .document_structure.chart_node {
        width: 23%;
        padding-left: 10px;
        padding-right: 10px;
    }
.document_structure.image_node {
    display: inline-block;
    width: 27%;
}
.document_structure.shape_node {
    display: inline-block;
    width: 27%;
}
.document_structure.chart_node {
    display: inline-block;
    width: 27%;
}

.spreadsheet_document .document_structure.image_node, .spreadsheet_document .document_structure.chart_node {
   display: inline-block;
   width: 44.9%;
}
.spreadsheet_document .document_structure.shape_node {
   display: block;
   width: auto;
}

.presentation_document .document_structure.image_node, .presentation_document .document_structure.chart_node {
   display: inline-block;
   width: 44.6%;
}
.presentation_document .document_structure.shape_node {
   display: block;
   width: auto;
}

.node_description {
    margin: 0;
    padding: 5px 0 0;
}

p.node_label {
color: #5891d0;
font-size: 18px;
margin: 0;
padding: 0;
}

.global-list ul li{
    list-style-type: none;
}

h5{
    color: #333;
    font-size: 22px;
    font-weight: 300;
    margin: 25px 0 5px;
    text-transform: none;
}

.table-classlist{
    table-layout: fixed;
    width: 100%;
}
.table-classlist .table-classlist-name{
    width: 20%;
}
.builder_page_class{
    color: #5891d0;
    font-size: 22px;
    font-weight: 300;
    margin: 25px 0 5px;
    text-transform: none;
}

ul.buider_page_methods_list, .buider_page_methods_list{
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
        columns: 3 200px;
     column-gap: 0;
     padding-bottom: 30px;
}

.buider_page_methods_list li{
     list-style-type: none !important;
}

.kb_index_page{
     display: inline-block;
     vertical-align: top;
     min-width: 100%;
}
.kb_index_page h5{
     margin-bottom: 10px;
}
.kb_index_page ul{
     margin-left: 0;
}
.kb_index_page li{
     position: relative;
}
.kb_index_page li:before {
     content: '- ';
     color: #5891d0;
}

.tags_content{
    line-height: 1;
}
.tags_content h5{
    color: #333;
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 0 20px;
    text-transform: none;
}

.tag_name{
    background-color: #999;
    color: #fff;
    display: inline-block;
    padding: 1px 5px 3px;
    font-weight: 600;
}

.tags_content ul {
    margin: 20px 40px 30px;
}

.tags_content li {
    list-style-type: none;
}

.global-type-definitions{
    position: relative;
}

.global-type-definitions .anchor-position{
    position: absolute;
    top: -72px;
}

.docbuilder_examples_list {
    margin: 10px 0 20px;
}
.docbuilder_examples_list .docbuilder_examples_blocks {
    margin: 0;
}
.docbuilder_examples_list .docbuilder_examples_blocks li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    text-align: center;
}
.docbuilder_examples_list .docbuilder_examples_blocks a.db_examples {
    display: block;
    margin: 5px 0 0;
}
                   
iframe.docbuilder_resulting_docs{
    width: 100%;
    height: 500px;
    margin-top: 10px;       
}



