.site-nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.site-nav__container {
  padding: 0 16px;
}

.site-nav__link {
  align-items: center;
  color: var(--site-header-navigation-foreground-color);
  display: flex;
  font-size: 12px;
  font-weight: 600;
  height: 100%;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: hsl(0, 0%, 100%);
}

.site-nav__link::before {
  /* todo: clip-path with path to handle borders */
  background-color: hsl(0, 0%, 100%);
  bottom: 0;
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

.site-nav__link:hover::before,
.site-nav__link:focus::before {
  content: "";
}

.site-nav__link_current {
  color: var(--site-header-navigation-focus-foreground-color);
}

.site-nav__link_current:hover,
.site-nav__link_current:focus {
  color: var(--site-header-navigation-focus-foreground-color);
}

.site-nav__link_current::before {
  content: "";
  background-color: var(--site-header-navigation-focus-foreground-color);
}

.site-nav__link_current:hover::before,
.site-nav__link_current:focus::before {
  background-color: var(--site-header-navigation-focus-foreground-color);
}
