.content > h1 {
  color: var(--color-scale-orange-0);
  margin: 32px 0 24px 0;
}

.content > p {
  font-size: 13px;
  margin: 8px 0 0 0;
}

.content > table {
  width: 100%;
}

.content-h2 {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  margin: 24px 0 16px 0;
  padding-bottom: 8px;
}

.content-h2__inner {
  background-color: var(--color-scale-neutral-2);
  display: block;
  padding: 6px 11px;
}

.content-h2__anchor {
  color: inherit;
  text-decoration: none;
}

/* todo: in progress */

.content dl {
  margin: 8px 0 0 0;
}

.content dt {
  margin: 12px 0 0 0;
}

.content dd {
  margin: 6px 0 0 16px;
}

.content dl code {
  border-radius: 3px;
  font-family: var(--text-font-monospace);
  font-size: 13px;
}

.content dl a {
  color: inherit;
  text-decoration: none;
}

.content dl a:hover {
  text-decoration: underline;
  color: var(--color-scale-orange-0);
}
